@import "default.css";
@import "variables.css";
@import "./delete-modal.css";
@import "table.css";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 1.5rem;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h2,
h3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

span:first-child {
  color: #a5a5a5;
}

h3 {
  font-size: 1.8rem;
}

.top-container {
  max-width: 90%;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

div.back-btn a {
  margin-top: 0;
}

div.page-actions {
  display: flex;
  gap: 2rem;
}

div.page-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;

  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 540px) {
  .top-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 6rem;
  }

  h2,
  h3 {
    max-width: 48rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .top-container {
    max-width: 85%;
  }
}
